<nav>
  <div class="container">

    <div class="left-nav">
      <div id="title">
        <a href="#" id="title-words">Dog Bank</a>
      </div>
      <ul class="left-options">
        <li class="want-border"><a href="#">Dashboard</a></li>
        <li class="want-border"><a href="#">Pay & transfer</a></li>
        <li class="want-border"><a href="#">Invest</a></li>
      </ul>
    </div>

    <div class="right-nav">
      <div class="setting-container">
          <a class="setting-logo" href="#"><img src="assets/svgs/setting.svg" alt="Settings" height="33" width="33"></a>
          <div class="dropdown-menu">
            <a href="#">Placeholder1</a>
            <a href="#">Placeholder2</a>
          </div>
      </div>
    </div>
  </div>
</nav>
